{% extends 'base.html.twig' %}

{% block title %} City Détail  {% endblock %}

{% block body %}

    <h1>City Détail</h1>

    <p>Ville: {{ city.name }}</p>
    <p>Latitude: {{ city.gpsLat }} -- Longitude: {{ city.gpsLng }}</p>
    <p>Region : {{ city.departmentCode.name }}</p>

{% endblock %}