{% extends 'base.html.twig' %}

{% block title %}Hello LocationController!{% endblock %}

{% block body %}
    {% for city in cities %}

        <p>{{ city.name }}</p>

    {% endfor %}
{% endblock %}
